.app-wraper {
    display: grid;
    grid-template-areas:
            "h h"
            "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 0.5fr 2fr;
}

.app-wraper-content {
    grid-area: c;
    background-color: #f0f1f5;
}